
@{
    ViewBag.Title = "Index";
}

<h2>Admin Index</h2>

<li>@Html.ActionLink("Vehicles", "Vehicles", "Admin")</li>
<li>@Html.ActionLink("Users", "Users", "Admin")</li>
<li>@Html.ActionLink("Add Make", "AddMake", "Admin")</li>
<li>@Html.ActionLink("Add Model", "AddModel", "Admin")</li>
<li>@Html.ActionLink("Add or Delete Specials", "AddDeleteSpecial", "Admin")</li>
<li>@Html.ActionLink("Reports", "ReportsIndex", "Admin")</li>