@model GuildCars.Models.Tables.ContactUs
@{
    ViewBag.Title = "Contact";
}

<style type="text/css">
    /* Set the size of the div element that contains the map */
    #map {
        height: 400px;
        /* The height is 400 pixels */
        width: 100%;
        /* The width is the width of the web page */
    }
</style>

<h2>Contact Us</h2>

<div class="row">
    <div class="col-lg-6">

        @using (Html.BeginForm("Contact", "Home", FormMethod.Post, new { enctype = "multipart/form-data", id = "formAddContact" }))
        {
            @Html.ValidationSummary()
            <div class="form-group">
                <label>Name</label>
                @Html.TextBoxFor(m => m.ContactName, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Email</label>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Phone</label>
                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Message</label>
                
                @Html.TextAreaFor(m => m.ContactUsMessage, new { placeholder = Model.VIN, @class = "form-control"}) 
                
            </div>
            <button class="btn btn-primary">Submit</button>
           }
    </div>
    <div>
        <script>
            // Initialize and add the map
            function initMap() {
                // The location of Uluru
                const uluru = { lat: 41.15380, lng: -81.35829 };
                // The map, centered at Uluru
                const map = new google.maps.Map(document.getElementById("map"), {
                    zoom: 17,
                    center: uluru,
                    
                });
                // The marker, positioned at Uluru
                const marker = new google.maps.Marker({
                    position: uluru,
                    map: map,
                });
            }
        </script>
        <div class="col-lg-6">
            <div id="map"></div>
            111 W Main St
            <br/>
            Kent, OH 44444
            <br/>
            <br/>
            Sales:  111-111-1111
            <br/>
            Service:  111-111-1112



            
           
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6wg5O0oIapENn9IP40qH_Cj8puoPBJCc&callback=initMap&libraries=&v=weekly"
                    async></script>


        </div>
   
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $('#formAddContact').validate({
                rules: {
                    'ContactUs.ContactName': {
                        required: true
                    },
                    'ContactUs.Email': {
                        required: true
                    },
                    'ContactUs.PhoneNumber': {
                        required: true,
                        number: true,
                    },
                    'ContactUs.ContactUsMessage': {
                        required: true
                    }
                }
                
            });
        });
    </script>
}










@*<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>*@